/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url('https://fonts.googleapis.com/css?family=Muli');
@import "compass/reset";
@import "variables";

body {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 9px;
	font-family: $main_font;
}
.top_header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	    		-ms-flex-pack: distribute;
	        -webkit-box-pack: justify;
	        justify-content: space-between;
	margin: 0 10px;        
}
.city_code {
	font-size: 22.7px;
	font-style: italic;
}
.main_number {
	font-size: 34.15px;
	font-style: italic;
	font-weight: bold;
}
.call_back {
	font-size: $main_size;
	color: #105a8f;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed #105a8f;
	vertical-align: top;
	margin-left: 10px;
}
.search {
	position: relative;
	margin-top: 19px;
	width: 321px;
	height: 25px;
	background: url(http://i.piccy.info/i9/e355685d451522172c137cd887825254/1521154338/1105/1229552/search_field.png);
}
.search input {
	outline:none;
	border: none;
}
.search input[type="text"] {
	position: absolute;
	width: 250px;
	top: 5px;
	left: 15px;
}
.search input[type="button"] {
	background: url(http://i.piccy.info/i9/5ffba75a5911067f31c109cfa39b8ab8/1521154071/1209/1229547/search_button.png) 100% 100% no-repeat;
	width: 55px;
	height: 20px;
	float: right;
	position: absolute;
	top: 3px;
	right: 1px;
	cursor: pointer;
}
.search input[type="button"]:hover {
	opacity: 0.9;
	cursor: pointer;
	outline: none;
}
.search input[type="button"]:focus {
	opacity: 1;
	cursor: pointer;
	outline: none;
}
.search input[type="button"]:active {
	opacity: 0.9;
	cursor: pointer;
	outline: none;
}
.online_help input[type="button"] {
	background: url(http://i.piccy.info/i9/780da5fbbad03dddff5d8cfc13f033aa/1521153805/10553/1229548/online_help.png) 100% 100% no-repeat;
	width: 100px;
	height:100px;
	border: none;
	margin-top: -8px;
	margin-right: 90px;
}
.online_help input[type="button"]:hover {
	opacity: 0.9;
	cursor: pointer;
	outline: none;
}
.online_help input[type="button"]:focus {
	opacity: 1;
	cursor: pointer;
	outline: none;
}
.online_help input[type="button"]:active {
	opacity: 0.9;
	cursor: pointer;
	outline: none;
}
.enter img {
	vertical-align: bottom;
}
.enter a {
	font-size: $main_size;
	color: #105a8f;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed #105a8f;
	margin-left: 10px;
	display: inline-block;
	line-height: 1.3s;
}
.basket {
	width: 223px;
	height: 55px;
	border: 1px solid #cecdcd;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	margin-top: 16px;
}
.main_basket {
	width: 180px;
	height: 55px;
	border: none;
	background: none;
	padding: 0;
	margin: 0 0 0 5px;
	float: left;
	cursor: pointer;
		span {
			font-size: 23px;
			font-style: italic;
			border-bottom: 2px solid #45749f;
			color: #105a8f;
			vertical-align: bottom;
			font-weight: 900;
			display: inline-block;
			margin: 0 0 6px 7px;
			font-family: $main_font;
		}
}
.main_basket:hover {
	opacity: 0.9;
}
.main_basket:focus {
	opacity: 1;
	outline: none;
}
.main_basket:active {
	opacity: 0.9;
	outline: none;
}
.drop_basket {
	float: right;
	width: 38px;
	height: 55px;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	position: relative;
	img {
		padding-top: 5px;
	}
	 ul {
	position: absolute;
	top: 100%;
	width: 223px;
	left: -186px;
	display: none;
	li {
		height: 50px;
		padding-top: 5px;
		}
	}
}
.drop_basket:hover ul{
	display: block;
	// opacity: 0.9;
	border: 1px solid #cecdcd;
	background: #fff;
	li 	{
		border-bottom: 1px solid #cecdcd;
		font-size: 23px;
		font-style: italic;
		vertical-align: bottom;
		font-weight: 600;
		font-family: $main_font;
		a 	{
			text-decoration: none;
			color: #105a8f;
			}
	}
}
.drop_basket:focus {
	outline: none;
}
.drop_basket:active {
	outline: none;
}
// ====================================================Header Nav=======================================

.nav_header ul {
	margin: 12px 0 0 10px;
	li {
	display: inline-block;
		a {
		text-decoration: none;
		line-height: 1.3;
		border-bottom: 1px solid #105a8f;
		color: #105a8f;
		font-size: $main_size;
		font-family: $main_font;
		margin: 0 12px 0 0;
		}
		a:hover {
			border-bottom: none;
		}
	}
	img {
		margin: 0 0 -4px 0;
	}
}

// ============================================================NAV============================================

nav {
	margin: 20px 10px 0 10px;
}
nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
				 -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	                -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 1px solid #246188;
	border-bottom: 1px solid #246188;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	min-width: 1180px;
	li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		max-width: 215px;
		a {
			background: -webkit-gradient(linear, left bottom, left top, from(#044977), to(#186ca3));
			background: -webkit-linear-gradient(bottom, #044977, #186ca3);
			background: -o-linear-gradient(bottom, #044977, #186ca3);
			background: linear-gradient(to top, #044977, #186ca3);
			height: 56px;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			padding: 0 10px 0 30px;
			text-decoration: none;
			color: #fff;
			 -webkit-align-self: center;
			-ms-flex-item-align: center;
			         align-self: center;
			font-family: $main-font;
			font-size: 15px;
			line-height: 1.2;
			border-top: 1px solid #5e9bc2;
			border-right: 1px solid #164b6e;
			border-bottom: 1px solid #3e87b7;
			border-left: 1px solid #2f6d94;
			span {
				//  -webkit-align-self: center;
				// -ms-flex-item-align: center;
				//  -ms-grid-row-align: center;
				//          align-self: center;
				max-width: 100px;
				min-width: 100px;
				padding-top: 10px;
			}
			img {
				width: 11px;
				height: 11px;
				 -webkit-align-self: center;
				-ms-flex-item-align: center;
				 -ms-grid-row-align: center;
				         align-self: center;
				padding-left: 44px;
			}
		}
		a:hover {
			opacity: 0.9;
		}
		a:focus {
			opacity: 1;
		}
		a:active {
			opacity: 0.8;
			outline: none;
		}		
	}
}
.ie10 .nav_menu span {
		display: block;
}
.nav_first_child:first-child{
	border-left: none;
	-webkit-border-radius: 5px 0 0 5px;
	        border-radius: 5px 0 0 5px;
}
.nav_last_child:last-child {
	border-right: none;
	-webkit-border-radius: 0 5px 5px 0;
	        border-radius: 0 5px 5px 0;
}

// ====================================================================MAIN====================================

main {
	margin: 30px 10px 0 10px;
	border-bottom: 2px solid #ffffff;
	-webkit-box-shadow: inset 0px -162px 86px -200px rgba(23,91,142,1);
	   -moz-box-shadow: inset 0px -162px 86px -200px rgba(23,91,142,1);
			box-shadow: inset 0px -162px 86px -200px rgba(23,91,142,1);
}
.first_article {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	             -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	                -ms-flex-pack: justify;
	        justify-content: space-between;
}
.first_slider {
	max-width: 780px;
	margin-bottom: 50px;
}
.slider_1 {
  overflow: hidden;
  max-width: 780px;
  max-height: 270px;
}
.slider_1 input {
	display: none;
}
#slides {
  width: 10000px;
  max-height: 240px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page_slider_1 {
  width: 766px;
  height: 226px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 7px solid #689cbe;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url(http://i.piccy.info/i9/f2b40a67c677d3c113030d00840dc993/1521153071/54100/1229547/first_slider.jpg) no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.page_slider_1 div {
  margin-left: 30px;
}
.page_slider_1 h1 {
  font-family: 'Muli', Arial, sans-serif;
  font-size: 30.61px;
  color: #6640c7;
  line-height: 1.15;
  margin:0 auto;
}
.page_slider_1 p {
  color: #333333;
  font-family: 'Muli', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.page_slider_1 button {
  height: 44px;
  width: 275px;
  background: -webkit-linear-gradient(100deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  background: -o-linear-gradient(100deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  background: linear-gradient(350deg, #63047d 45%, #a90fd5 60%, #20c4d0);
  -webkit-box-shadow: 0 0 1px #686868;
  box-shadow: 0 0 1px #686868;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
}
.page_slider_1 button:hover {
	opacity: 0.9;
}
.page_slider_1 button:active {
	opacity: 0.5;
	outline: none;
}
.page_slider_1 button:focus {
	opacity: 1;
	outline: none;
}
#active {
	margin-left: 7px;
}
#active label {
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	line-height: 2.5;
	text-decoration: none;
	margin: -7px 2px 0 0;
	font-family: arial;
	font-size: 13px;
	color: #fff;
	font-weight: 600;
	width: 18px;
	height: 25px;
	background: #689cbe;
	border-left: 2px solid #689cbe;
	border-right: 2px solid #689cbe;
	border-bottom: 2px solid #689cbe;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#active label:hover {
	color: #333;
}

#slide_1:checked ~ #active label:nth-child(1),
#slide_2:checked ~ #active label:nth-child(2),
#slide_3:checked ~ #active label:nth-child(3),
#slide_4:checked ~ #active label:nth-child(4),
#slide_5:checked ~ #active label:nth-child(5) {
	background: #fff;
  	color: red;
}
#slide_1:checked ~ #slides {
	margin-left: 0;
}
#slide_2:checked ~ #slides {
	margin-left: -780px;
}
#slide_3:checked ~ #slides {
	margin-left: -1560px;
}
#slide_4:checked ~ #slides {
	margin-left: -2340px;
}
#slide_5:checked ~ #slides {
	margin-left: -3120px;
}
.shares {
	margin-left: 50px;
}
.shares_caption {
	font-family: $main-font;
	font-size: 25px;
	font-style: italic;
	color: #d10000;
	font-weight: 900;
	line-height: 0.7;
}
.share {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 20px;
	line-height: 1.5;
	font-size: $main-size;
	img {
		margin-right: 20px;
		width: 40px;
		height: 40px;
	}
	a{
		color: #105a8f;
		text-decoration: none;
		border-bottom: 1px solid #105a8f;
		line-height: 1.5;
	}
	a:visited {
		color: #6611cc;
		border-bottom: 1px solid #6611cc;
	}
}
.shares_button {
	margin-top: 15px;
	width: 125px;
	height: 28px;
	border: none;
	background: url(http://i.piccy.info/i9/1c7a24c3e0c279ca7f64190b3d62b5be/1521154462/2804/1229547/shares_button.png);
	cursor: pointer;
}
.shares_button:active {
	outline: none;
}
.shares_button:focus {
	outline: none;
}
.shares_button:hover {
	opacity: 0.8;
}

// ===========================================================Second_Article==================================

.second_article {
	margin: 0 0 40px 0;
	#tab_1, #tab_2, #tab_3, #tab_4, .tab {
		display: none;
	}
	label {
		font-family: $main-font;
		font-size: 18px;
		color: #105a8f;
		border-bottom: 1px dashed #105a8f;
		font-style: italic;
		font-weight: 900;
		margin-right: 30px;
	}
	input[type="radio"]:checked + label {
		border: 1px solid #689cbe;
		border-bottom: none;
		-webkit-border-radius: 5px 5px 0 0;
		        border-radius: 5px 5px 0 0;
		padding: 10px 25px 10px 20px;
		font-size: 20px;
		color: #d10000;
		background: -webkit-gradient(linear, left bottom, left top, from(#fefdfd), color-stop(#eeeeee), to(#f9f9f9));
		background: -webkit-linear-gradient(bottom, #fefdfd, #eeeeee, #f9f9f9);
		background: -o-linear-gradient(bottom, #fefdfd, #eeeeee, #f9f9f9);
		background: linear-gradient(to top, #fefdfd, #eeeeee, #f9f9f9);
	}
	input[type="radio"]:hover + label {
		border-bottom: none;
	}
}
.second_article > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.second_article > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.second_article > input:nth-of-type(3):checked ~ div:nth-of-type(3),
.second_article > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
	display: block;
} 
.tab {
	height: 328px;
	width: 1178px;
	border: 1px solid #689cbe;
	margin-top: 12px;
	-webkit-border-radius: 0 5px 5px 5px;
	        border-radius: 0 5px 5px 5px;
}
.special_offer {
	float: right;
	border: none;
	background: url(http://i.piccy.info/i9/8f3ed1331cb0575a39f0d0ea076fe6cb/1521154773/4414/1229547/tab_1_special_offer.png);
	height: 27px;
	width: 220px;
	margin: 5px 73px 10px 0;
	cursor: pointer;
}
.special_offer:active {
	outline:none;
}
.special_offer:focus {
	outline:none;
}
.special_offer:hover {
	opacity: 0.8;
}
.tab input {
	display: none;
}
.slider_1 {
	max-height: 300px;
}
.articles_tab_1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0 5px 0 10px;
}
@charset "<Internet Explorer 11 and Microsoft Edge>"; _:-ms-lang(x), .articles_tab_1 {
	float: left;
	position: relative;
}
.ie10 .articles_tab_1 {
	float: left;
	position: relative;
}
#overflow_1 {
	width: 93%;
	overflow: hidden;
	margin: 0 0 0 50px;

}
#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(1),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(4) {
	background: url(http://i.piccy.info/i9/8b439a2b6dedbe213809731982a98908/1521154602/1417/1229547/tab_1_arrow_left_active.png) no-repeat; 
	float: left;
	border: none;
	margin: 100px 0 0 5px; 
	display: block;
	height: 68px;
	width: 20px;
}

#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
	background: url(http://i.piccy.info/i9/6f5bc6c7863f8e0841aac98e1b6baa1e/1521154643/1415/1229547/tab_1_arrow_right_active.png) no-repeat; 
	display: block;
	margin: 100px -287px 0 0; 
	float: right;
	height: 68px;
	width: 20px;
	border: none;
}
@charset "<Internet Explorer 11 and Microsoft Edge>"; _:-ms-lang(x),
#product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
#product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
#product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
#product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
#product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
	position: absolute;
	margin: 100px 0 0 0; 
	right: 375px;
	display: block;
}

.ie10 #product_tab_1_1:checked ~ .controls_tab_1 label:nth-child(2),
.ie10 #product_tab_1_2:checked ~ .controls_tab_1 label:nth-child(3),
.ie10 #product_tab_1_3:checked ~ .controls_tab_1 label:nth-child(4),
.ie10 #product_tab_1_4:checked ~ .controls_tab_1 label:nth-child(5),
.ie10 #product_tab_1_5:checked ~ .controls_tab_1 label:nth-child(1) {
	position: absolute;
	margin: 100px 0 0 0; 
	right: 375px;
	display: block;
}
#product_tab_1_1:checked ~ #overflow_1 .articles_tab_1{
	margin-left: 0;
}

#product_tab_1_2:checked ~ #overflow_1 .articles_tab_1{
	margin-left: -220px;
}

#product_tab_1_3:checked ~ #overflow_1 .articles_tab_1{
	margin-left: -440px;
}

#product_tab_1_4:checked ~ #overflow_1 .articles_tab_1{
	margin-left: -660px;
}

#product_tab_1_5:checked ~ #overflow_1 .articles_tab_1{
	margin-left: -880px;
}
.product {
	min-width: 210px;
	margin-right: 10px;
}
.product_width {
	max-width: 170px;
}
.stock_description {
		font-family: $main-font;
		font-size: $main-size;
		color: #d10000;
		line-height: 1.4;
		vertical-align: bottom;
}
.product_name {
	font-family: $main-font;
	font-size: $main-size;
	color: #105a8f;
	line-height: 2;
	font-weight: 600;
}
.old_price {
	font-family: $main-font;
	font-size: $main-size;
	color: #999999;
	text-decoration: line-through;
	-webkit-text-decoration-color: #d10000;
	        text-decoration-color: #d10000;
	font-weight: 600;
}
.product_price {
	border: none;
	background: url(http://i.piccy.info/i9/e0b3bb62d5aebce59738caff4c74d24d/1521153907/1683/1229548/product_price_button.png);
	width: 135px;
	height: 28px;
	font-family: $main-font;
	font-size: 18px;
	color: #333333;
	font-weight: 600;
	text-align: left;
	margin-left: -10px;
	cursor: pointer;
	b {
		margin-left: 7px;
	}
	span {
		font-size: $main-size;
	}
}
.product_price:hover {
	opacity: 0.9;
}
.product_price:focus {
	opacity: 1;
	outline: none;
}
.product_price:active {
	opacity: 0.8;
}
.currency {
	font-family: $main-font;
	font-size: 11px;
	color: #5c9559;
}

// =========================================================Third_Article===================================================

.third_article_head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
				 -webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    			-ms-flex-pack: justify;
	        justify-content: space-between;
	p {
		font-family: $main-font;
		font-size: 15px;
		line-height: 2;
		color: #333333;
		font-style: oblique;
		font-weight: 600;
	}
	button {
		border: none;
		background: url(http://i.piccy.info/i9/fbd2152bb423ef27d23025c5550d47e8/1521154815/4300/1229547/third_article_button.png);
		height: 28px;
		width: 200px;
		cursor: pointer;
	}
	button:hover {
		opacity: 0.9;
	}
	button:focus {
		opacity: 1;
		outline: none;
	}
	button:active {
		opacity: 0.8;
		outline: none;
	}
}
.mfr {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #dddcdc;
	margin-bottom: 30px;
	margin-top: 20px;
	a {
		font-size: 11px;
		font-family: $main-font;
		color: #105a8f;
		line-height: 1.9;
	}
	a:hover {
		color: #d10000;
	}
	a:active {
		text-decoration: none;
	}
	table {
		margin-bottom: 30px;
	}
	ul {
		margin-top: 30px;
	}
}
.mfr_1_img_1 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: 40px 0;
	-webkit-box-shadow: 1px 1px 0 #dddcdc;
	        box-shadow: 1px 1px 0 #dddcdc;
}
.mfr_1_img_2 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -110px 0;
	-webkit-box-shadow: 0 1px 0 #dddcdc;
	        box-shadow: 0 1px 0 #dddcdc;
}
.mfr_1_img_3 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: 40px -65px;
	-webkit-box-shadow: 1px 0 0 #dddcdc;
	        box-shadow: 1px 0 0 #dddcdc;
}
.mfr_1_img_4 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -110px -65px;
}
.mfr_2_img_1 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -260px 0;
	-webkit-box-shadow: 1px 1px 0 #dddcdc;
	        box-shadow: 1px 1px 0 #dddcdc;
}
.mfr_2_img_2 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -410px 0;
	-webkit-box-shadow: 0 1px 0 #dddcdc;
	        box-shadow: 0 1px 0 #dddcdc;
}
.mfr_2_img_3 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -260px -65px;
	-webkit-box-shadow: 1px 0 0 #dddcdc;
	        box-shadow: 1px 0 0 #dddcdc;
}
.mfr_2_img_4 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -410px -65px;
}
.mfr_3_img_1 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -560px 0;
	-webkit-box-shadow: 1px 1px 0 #dddcdc;
	        box-shadow: 1px 1px 0 #dddcdc;
}
.mfr_3_img_2 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -710px 0;
	-webkit-box-shadow: 0 1px 0 #dddcdc;
	        box-shadow: 0 1px 0 #dddcdc;
}
.mfr_3_img_3 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -560px -65px;
	-webkit-box-shadow: 1px 0 0 #dddcdc;
	        box-shadow: 1px 0 0 #dddcdc;
}
.mfr_3_img_4 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -710px -65px;
}
.mfr_4_img_1 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -860px 0;
	-webkit-box-shadow: 1px 1px 0 #dddcdc;
	        box-shadow: 1px 1px 0 #dddcdc;
}
.mfr_4_img_2 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -1010px 0;
	-webkit-box-shadow: 0 1px 0 #dddcdc;
	        box-shadow: 0 1px 0 #dddcdc;
}
.mfr_4_img_3 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -860px -65px;
	-webkit-box-shadow: 1px 0 0 #dddcdc;
	        box-shadow: 1px 0 0 #dddcdc;
}
.mfr_4_img_4 {
	width: 150px;
	height: 60px;
	background: url(http://i.piccy.info/i9/6ceaff2646c9f1dc1bcf40a76a1d4356/1521153656/61022/1229548/mfr_sprite.png) no-repeat;
	background-position: -1010px -65px;
}
.mfr_2 {
	margin-top: -5px;
	ul {
		margin-top: 35px;
	}
}
.mfr_3 {
	margin-top: 5px;
	ul {
		margin-top: 25px;
	}
}

// =========================================================================Fourth_Article=========================================

.fourth_article_head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 30px;
	p {
		font-family: $main-font;
		font-size: 20px;
		color: #333333;
		font-weight: 900;
		font-style: oblique;
	}
	button {
		border: none;
		background: url(http://i.piccy.info/i9/72d51a55a271d4f28bb60cda9062628b/1521153159/4821/1229547/fourth_article_button.png);
		height: 28px;
		width: 237px;
		cursor: pointer;
	}
	button:hover {
		opacity: 0.9;
	}
	button:focus {
		opacity: 1;
		outline: none;
	}
	button:active {
		opacity: 0.8;
		outline: none;
	}
}
.reviews {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 130px;
}
.review {
	max-width: 261px;
	img {
		display: block;
	}
	a {
		font-family: $main-font;
		font-size: 15px;
		color: #105a8f;
		line-height: 1.33; 
	}
	a:hover {
		color: #d10000;
	}
	a:active {
		text-decoration: none;
	}
	a:visited {
		color: #6611cc;
	}
	p {
		font-family: $main-font;
		font-size: $main-size;
		color: #333333;
		line-height: 1.6;
		margin-top: 10px;
	}
}
.review_2 {
	img {
		margin-top: 34px;
	}
}
.review_1, .review_2 {
	img {
		margin-bottom: 22px;
	}
}
.review_3, .review_4 {
	img {
		margin-bottom: 10px;
	}
}

// ===================================================================FOOTER===================================================================

footer {
	border-top: 4px solid #175b8e;
	margin: 0 10px;
}
.nav_footer {
	margin-bottom: 35px;
	p {
		margin-top: 20px;
	}
	 ul {
		margin: 5px 0 0 0;
		li {
			display: inline-block;
			a {
			text-decoration: none;
			line-height: 1.3;
			border-bottom: 1px solid #105a8f;
			color: #105a8f;
			font-size: $main_size;
			font-family: $main_font;
			margin: 0 12px 0 0;
			}
			a:hover {
				border-bottom: none;
			}
		}
		img {
			margin: 0 0 -4px 0;
		}
	}
}
.article_footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.article_footer > div {
	max-width: 260px;
	min-width: 260px;
}
.adress {
	font-family: $main-font;
	font-size: $main-size;
	color: #333333;
	line-height: 1.7;
}
.phone_footer {
	font-size: 24px;
	font-family: $main-font;
	color: #333333;
	font-weight: 600;
	margin-bottom: 10px;
	span {
		font-weight: 400;
	}
}
.article_footer .call_back {
	margin: 0 0;
}
.feedback {
	border: none;
	background: url(http://i.piccy.info/i9/d0299a9e0a2891bbf7c0fd8cc5055278/1521153119/3576/1229547/footer_button.png);
	height: 28px;
	width: 168px;
	// margin-left: -15px;
	cursor: pointer;
	margin: 17px 0 40px -15px;
}
.time {
	font-family: $main-font;
	font-size: $main-size;
	line-height: 1.7;
	color: #333333;
	font-weight: 600;
}
.day {
	font-family: $main-font;
	font-size: $main-size;
	line-height: 1.7;
	color: #333333;
}
.payment {
	font-family: $main-font;
	font-size: $main-size;
	line-height: 2.15;
	color: #333333;
	margin-top: 15px;
	img {
		width: 215px;
		height: 25px;
	}
}
.social div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	a {
		font-family: $main-font;
		font-size: $main-size;
		color: #105a8f;
	}
	a:hover {
		text-decoration: none;
	}
}
.facebook_img {
	background: url(http://i.piccy.info/i9/88db2bee169c8c4a1c2735c1cfc73d02/1521154576/5823/1229547/social.png);
	width: 29px;
	height: 30px;
	background-position: 0 0;
	margin-right: 5px;
}
.vk_img {
	background: url(http://i.piccy.info/i9/88db2bee169c8c4a1c2735c1cfc73d02/1521154576/5823/1229547/social.png);
	width: 29px;
	height: 30px;
	background-position: 0 -30px;
	margin-right: 5px;
}
.twitter_img {
	background: url(http://i.piccy.info/i9/88db2bee169c8c4a1c2735c1cfc73d02/1521154576/5823/1229547/social.png);
	width: 29px;
	height: 31px;
	background-position: 0 -60px;
	margin-right: 5px;
}
.owox {
	font-family: $main-font;
	font-size: 11px;
	line-height: 1.6;
	color: #4e4e4e;
	a {
		color: #0066aa;
	}
	a:hover {
		text-decoration: none;
	}
	span {
		color: #999999;
	}
}
.terms_of_use {
	font-family: $main-font;
	font-size: $main-size;
	color: #333333;
	line-height: 1.5;
	padding-bottom: 55px;
}
.terms_of_use:hover {
	text-decoration: none;
}